{
  "extends": ["@antfu", "@unocss", "plugin:prettier/recommended"],
  "ignorePatterns": ["auto-imports.d.ts", "components.d.ts", "typed-router.d.ts"],
  "rules": {
    "no-console": "warn",
    "antfu/if-newline": "off",
    "antfu/top-level-function": "off"
  }
}
